<h1>Stupid Coaching</h1>
<div class="message-box">
  <p><%= @question %></p>
  -You
</div>
<div class="message-box">
  <p><em><%= @answer %></em></p>
  -Your coach
</div>

<a href="./">Ask a new question</a>
